
<%- include("../partials/header")%>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <h1>Edit <%=camp.name%></h1>
        <div class="container d-flex justify-content-center">
            <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" style="width: 80%;">
              <div class="form-group d-flex flex-column mx-3 mt-3 mb-1">
                <input type="text" class="form-control mb-2"  placeholder="Name" name="camp[name]" value="<%=camp.name%>">
                <input type="number" class="form-control mb-2"  value="<%=camp.price%>" name="camp[price]" min="0.01" step="0.01">
                <input type="text" class="form-control mb-2"  placeholder="Image Address" name="camp[image]" value="<%=camp.image%>" >
                <!-- <input type="text" class="form-control mb-2"  placeholder="Description" name="desc" value="<%=camp.desc%>"> -->
				  <textarea class="form-control mb-2" name="camp[desc]"><%=camp.desc%></textarea>
                <input type="submit" class="btn btn-primary mb-2">
              </div>
            </form>
          </div>
        <a href="/campgrounds">Go Back</a>

    </div>
    <div class="col-lg-3"></div>
    
</div>
</div>
<%- include("../partials/footer")%>
